:root {
  --primary: #557571;
  --secondary: #d49a89;
  --tertiary: #f7d1ba;
  --white: #f4f4f4;
  --black: #1d1c1a;
  --border: #e5e5e5;
  --danger: #ff6961;
  --disabled: #d3d3d3;
  --footer-height: 65px;
  --padding: 16px;
  --padding-sm: 8px;
  --padding-xs: 4px;
  --default-padding: var(--padding-sm) var(--padding);
  --grid-gap: 16px;
  --border-radius: 8px;
}

html {
  box-sizing: border-box;
  font-family: 'Noto Serif', serif;
  color: var(--black);
}

html,
input,
.btn {
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  overflow: hidden;
}

#app {
  height: 100vh;
  overflow-y: hidden;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-container {
  flex: 1;
  min-height: 0;
  position: relative;
}

input {
  padding: var(--padding-sm);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  width: 100%;
}

.form-group {
  padding: var(--padding-xs) var(--padding);
}

.form-group.full-width {
  padding: var(--padding) 0;
}

.form-group.full-width .label {
  padding: 0 var(--padding);
}

.form-group .label {
  margin-bottom: 2px;
}

.btn {
  border: 2px solid var(--primary);
  border-radius: var(--border-radius);
  padding: var(--padding-sm) var(--padding);
  background: white;
  font-weight: bold;
  margin: 0 8px;
}

.btn-primary {
  background-color: var(--primary);
  color: white;
}

.btn-danger {
  background-color: var(--danger);
  border: 2px solid var(--danger);
  color: white;
}

.btn-default {
  color: var(--primary);
}

.btn-disabled {
  border: 2px solid var(--disabled);
  background-color: var(--disabled);
}
