:root {
  --primary: #557571;
  --secondary: #d49a89;
  --tertiary: #f7d1ba;
  --white: #f4f4f4;
  --black: #1d1c1a;
  --border: #e5e5e5;
  --danger: #ff6961;
  --disabled: #d3d3d3;
  --grey: #c0c0c0;
  --placeholder: #999;
  --footer-height: 65px;
  --padding: 16px;
  --padding-sm: 8px;
  --padding-xs: 4px;
  --default-padding: var(--padding-sm) var(--padding);
  --grid-gap: 16px;
  --border-radius: 8px;
  --default-input-height: 40px;
}

html {
  box-sizing: border-box;
  font-family: 'Noto Serif', serif;
  color: var(--black);
}

html,
input,
.btn {
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  overflow: hidden;
}

#app {
  height: 100vh;
  overflow-y: hidden;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-container {
  flex: 1;
  min-height: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-title {
  padding: var(--padding-sm) var(--padding);
  font-size: 24px;
  color: var(--primary);
  font-weight: normal;
}

input {
  padding: var(--padding-sm);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  width: 100%;
}

.form-group {
  padding: var(--padding-xs) var(--padding);
}

.form-group.full-width {
  padding: var(--padding) 0;
}

.form-group.full-width .label {
  padding: 0 var(--padding);
}

.form-group .label {
  margin-bottom: 2px;
  font-size: 14px;
}

.btn {
  border: 1px solid var(--primary);
  border-radius: var(--border-radius);
  padding: var(--padding-sm) var(--padding);
  background: white;
  margin: 0 8px;

  -webkit-transition: color 0.2s linear, background-color 0.2s linear,
    border-color 0.2s linear;
  -moz-transition: color 0.2s linear, background-color 0.2s linear,
    border-color 0.2s linear;
  -o-transition: color 0.2s linear, background-color 0.2s linear,
    border-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear,
    border-color 0.2s linear;
}

.btn-primary {
  background-color: var(--primary);
  color: white;
}

.btn-danger {
  border: 1px solid var(--danger);
  color: var(--danger);
}

.btn-default {
  color: var(--primary);
}

.btn-disabled {
  border: 1px solid var(--disabled);
  background-color: var(--disabled);
  color: var(--white);
}

.no-results {
  width: 100%;
  padding: 24px;
  text-align: center;
  color: var(--grey);
}

.hyperlink {
  color: #2c75ff;
  text-decoration: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--placeholder);
}

.add-content-button {
  font-size: 24px;
  margin-right: var(--padding);
}
