:root {
  --primary: #557571;
  --secondary: #d49a89;
  --tertiary: #f7d1ba;
  --white: #f4f4f4;
  --black: #1d1c1a;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
}

#app {
  height: 100vh;
  /* Temp fix to clear iphone bowser floating url bar */
  padding-bottom: 80px;
  overflow-y: hidden;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
