.recipe-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--grid-gap);
    padding: var(--padding);
  }
  
  .recipe-image-box {
    margin-bottom: 0px;
  }
  
  .add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-sm) 0px;
    border: 1px solid white;
    border-radius: var(--border-radius);
    width: 100%;
    background-color: var(--border);
    aspect-ratio: 1/1;
  }

  .add-button.recipe {
    background-color: var(--tertiary);
  }

  .add-button.collection {
    background-color: var(--tertiary);
  }
  
  .add-button.all-recipes {
    background-color: var(--primary);
    color: white;
  }
  
  .add-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }